<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

<link rel="stylesheet" type="text/css" href="styles/semantic.min.css">
<link rel="stylesheet" type="text/css" href="styles/style.css">

<app id="app"></app>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="webpack.js"></script>
<script src="javascripts/semantic.min.js"></script>

</body>
</html>